@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 90px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 180%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.subtitle {
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  justify-content: center;
  margin-bottom: 20px;
  font-family: var(--font-roboto);
  /* width:60%; */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 0) 180%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.description {
  font-size: 25px;
  font-family: var(--font-roboto);
  margin-bottom: 32px;
  text-align: justify;
  width:70%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(255, 255, 255, 0) 190%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.buttoncontainer{
  display: flex;
  gap: 30px
}
.contactBtn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent; 
  color: silver; 
  border: 2px solid var(--color-secondary); 
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out; 
}

.contactBtn:hover {
  background-color: var(--color-dark); 
  color: var(--color-text); 
}

.heroImg {
  width: 20%;
  z-index: 3;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

 .topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

/* .bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
} */

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
