@import "../../vars.css";

.container {
  color: silver;
  margin-top: 100px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 90%);;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  padding: 30px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
}

/* .text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
} */

.links {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin-bottom: 10px;

}
.link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.link img{
  height:20px
}

.link a {
  color: silver;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
